{% extends 'base.html.twig' %}

{% block title %}County index{% endblock %}

{% block body %}
    <h1>County index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Zipcode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for county in counties %}
            <tr>
                <td>{{ county.id }}</td>
                <td>{{ county.label }}</td>
                <td>{{ county.zipcode }}</td>
                <td>
                    <a href="{{ path('county_show', {'id': county.id}) }}">show</a>
                    <a href="{{ path('county_edit', {'id': county.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('county_new') }}">Create new</a>
{% endblock %}
