{% extends 'base.html.twig' %}

{% block title %}County{% endblock %}

{% block body %}
    <h1>County</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ county.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ county.label }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ county.zipcode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('county_index') }}">back to list</a>

    <a href="{{ path('county_edit', {'id': county.id}) }}">edit</a>

    {{ include('county/_delete_form.html.twig') }}
{% endblock %}
