<div class="card object-card">
    <span class="badge badge-primary badge-found"><i class="fa fa-map-pin"></i> {{ traobject.state.label }}</span>
    <img class="card-img-top" src="{{ asset('uploads/' ~ traobject.picture) }}" alt="Portefeuille">
    <div class="card-body">
        <h5 class="card-title">{{ traobject.title }}</h5>
        <ul class="object-features">
            <li><a href="#" class="badge" style="background-color: {{ traobject.category.color }}"><i class="fa fa-money"></i>{{ traobject.category }} </a></li>
            <li><a href="#" class="badge badge-info"><i class="fa fa-calendar"></i> {{ traobject.eventAt|date('d m Y') }}</a></li>
            <li><a href="#" class="badge badge-info"><i class="fa fa-map-marker"></i> {{ traobject.city }}</a></li>
        </ul>
    </div>
    <a href="object.html" class="card-footer-btn btn btn-primary"><i class="fa fa-eye"></i> Afficher</a>
</div>