{% extends "base.html.twig" %}
{% block body %}


<div class="container">
    <div class="card object-card">
        <h1 class="card-header">
                <span class="badge badge-primary badge-found">
                    <i class="fa fa-map-pin"></i>
                    Trouvé
                </span>
            {{ traobject.title }}
        </h1>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    {% if traobject.picture != null %}
                        <img class="card-img-top" src="{{ asset('uploads/' ~ traobject.picture) }}" alt="Portefeuille">
                    {% else %}
                        <div class="card-logo-top" style="background-color: {{ traobject.category.color }}"><i class="fa {{ traobject.category.icon }}"></i></div>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <p>{{ traobject.description }}</p>
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <ul class="object-features">
                <li><a href="#" class="badge" style="background-color: {{ traobject.category.color }};"><i class="{{ traobject.category.icon }}"></i> {{ traobject.category.label }}</a></li>
                <li><a href="#" class="badge badge-info"><i class="fa fa-calendar"></i> {{ traobject.eventAt|date('d m Y') }}</a></li>
                <li><a href="#" class="badge badge-info"><i class="fa fa-map-marker"></i> {{ traobject.city }}</a></li>
            </ul>
        </footer>
    </div>

    <hr>

    <div class="alert alert-secondary" role="alert">
        <h3>Commentaires</h3>

        {% if app.user %}
        <h4>Laissez un commentaire</h4>
        {{  render(controller('App\\Controller\\CommentController:new', {'id' : traobject.id }))}}
        {% else %}
            <div class="alert alert-secondary" role="alert">
                <p>Veuillez vous connecter afin de pouvoir laisser un commentaire</p>
                <a href="{{ path('app_login') }}" class="btn btn-primary">
                    <i class="fa fa-sign-in"></i>
                    Me connecter
                </a>
                <a class="btn btn-primary ml-3" href="{{ path('user_registration') }}">
                    <i class="fa fa-user-plus"></i>
                    Créer un compte
                </a>
            </div>
        {% endif %}
        {% for comment in comments  %}
            <ul class="list-unstyled">
                <li class="media mb-1">
                    <img style="height: 50px; width: 50px" class="mr-3" src="{{ asset('uploads/' ~ comment.user.picture) }}" alt="{{ comment.user.lastname }}">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{ comment.user }}</h5>
                        <p>{{ comment.content }}</p>
                    </div>
                </li>
            </ul>
        {% endfor %}

    </div>


</div>

{% endblock %}
